
<div class="container">

    <div class="container-aliados">
        <h3>Aliados :</h3>
        <a href="https://www.airbnb.com.co/" class="img-medio-aliados medio-aliados1"><div ></div></a>
        <a href="https://www.booking.com/index.html?aid=375648&label=msn-b3YDyMo0k8Dj47_gBBiUxA-80470531814527:tikwd-80470558197349:loc-43:neo:mte:lp142129:dec:qsbooking&utm_campaign=Booking%20Name&utm_medium=cpc&utm_source=bing&utm_term=b3YDyMo0k8Dj47_gBBiUxA&msclkid=9a69c62040f41f472c24a7deb2c22a05" class="img-medio-aliados medio-aliados2"><div></div></a>
        <a href="https://www.trivago.com/en-US/srl?__wr=4&tc=116&themeId=280&sem_keyword=trivago&sem_creativeid=72224369860250&sem_matchtype=be&sem_network=o&sem_device=c&sem_campaignid=364001242&sem_adgroupid=1155587252152209&sem_targetid=72224713409926&cipc=br&cip=9981910001&search=200-216" class="img-medio-aliados medio-aliados3"><div></div></a>
    </div>

    <div class="container-contacto-titulo">
        <h2>Contacto</h2>
    </div>
    <div class="container-img-contacto"></div>
    <div class="container-contacto-text">
        <div class="contacto-text-icon">
            <img src="../../assets/icon/whatsapp-brands.svg" alt="Whatsapp">
            <img src="../../assets/icon/phone-square-alt-solid.svg" alt="Telefono">
        </div>
        <div class="contacto-text-info">
            <h3>Lamanos :</h3>
            <a href="https://wa.link/904dep">+57 314 661 7062</a>
        </div>
    </div>

    <div class="container-medio-pago">
        <h3>Medio de pago :</h3>
        <div class="img-medio-pago medio-pago1"></div>
        <div class="img-medio-pago medio-pago2"></div>
        <div class="img-medio-pago medio-pago3"></div>
    </div>

</div>