

<div class="container">
    <div class="container-contacto-titulo">
        <h2>MAPA</h2>
        <h4>Finca Bellavista, Lago Calima </h4>
    </div>

    <div class="container-mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45691.232966597716!2d-76.46974203431199!3d3.880314490263505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9850106b71cc0b05!2zM8KwNTInNTEuNyJOIDc2wrAyNycxOC45Ilc!5e0!3m2!1ses-419!2sco!4v1643869106509!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy"></iframe>

        <div class="container-mapa-distancias">
            <div class="container-contacto-titulo">
                <h4>Cerca de</h4>
            </div>
            <div class="mapa-distancias">
                <div class="mapa-distancia-items">
                    <p><strong>Finca Bella vista - Estacion de Gasolina :</strong> 5min  (4.1km)</p>
                    <p><strong>Finca Bella vista - Policia Loboguerrero :</strong> 4min  (3.8km)</p>
                    <p><strong>Finca Bella vista - Darien :</strong> 27min  (13.8km)</p>
                </div>
                <div class="mapa-distancia-items">
                    <p><strong>Finca Bella vista - Represa :</strong> 34min  (20.9km)</p>
                    <p><strong>Buga - Lago Calima :</strong> 35min  (15.8km)</p>
                    <p><strong>Cali - Lago Calima :</strong> 1 h 30 min  (65.2km)</p>
                </div>
            </div>
        </div>

    </div>

</div>