<div class="container">
    <div class="container-contacto-titulo">
        <h2>INFORMACION</h2>
    </div>
    <div class="container-info-detalles-subtitulo">
        <h3>Informacion General</h3>
    </div>
    <div class="info-detalles-container">
        <div class="info-detalles-container-block">
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/home-solid.svg" >
                <p>Casa de dos plantas</p>
            </div>
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/map-marker-alt-solid.svg" >
                <p>Lago calima, Sector Puente T.</p>
            </div>
        </div>
        <div class="info-detalles-container-block">
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/vector-square-solid.svg" >
                <p>4000 mts<sup>2</sup></p>
            </div>
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/map-maps-alt-solid.svg" >
                <p>Calima - Darien</p>
            </div>
        </div>
    </div>
    <div class="container-info-detalles-subtitulo">
        <h3>Informacion Interior</h3>
    </div>
    <div class="info-detalles-container">
        <div class="info-detalles-container-block">
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/bed-solid.svg" >
                <p>3 Habitaciones Multipes <br>
                1 Habitacion con Cama Twin</p>
            </div>
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/couch-solid.svg" >
                <p>Zona de estar</p>
            </div>
        </div>
        <div class="info-detalles-container-block">
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/bath-solid.svg" >
                <p>5 Baños</p>
            </div>
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/utensils-solid.svg" >
                <p>Comedor para 14 persona</p>
            </div>
        </div>
    </div>
    <div class="container-info-detalles-subtitulo">
        <h3>Informacion Exterior</h3>
    </div>
    <div class="info-detalles-container">
        <div class="info-detalles-container-block">
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/swimmer-solid.svg" >
                <p>Piscina y Jacuzzi</p>
            </div>
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/dice-solid.svg" >
                <p>Zona de Juegos</p>
            </div>
        </div>
        <div class="info-detalles-container-block">
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/futbol-solid.svg" >
                <p>Cancha de Futbol</p>
            </div>
            <div class="container-block-icon">
                <img class="info-detalles-icon" src="../../assets/icon/fire-alt-solid.svg" >
                <p>Asador y Cocina Externa</p>
            </div>
        </div>
    </div>
    <div class="container-info-detalles-subtitulo">
        <h3>Informacion Adicional de Interes</h3>
    </div>
    <div class="info-detalles-container">
        <div class="container-block-icon-especial">
            <img class="info-detalles-icon" src="../../assets/icon/wifi-solid.svg" >
            <p>Hay Conexion a Internet WI-FI Disponible en Todo el Establecimiento </p>
        </div>
        <div class="container-block-icon-especial">
            <img class="info-detalles-icon" src="../../assets/icon/satellite-dish-solid.svg" >
            <p>Señal Parabolica Direct TV</p>
        </div>
    </div>
</div>
