
    <!-- Page Content -->
    <div class="card-body">
        <!-- <p class="card-text">
            En Finca Bella Vista, Hacemos que su visita sea un momento placentero ya que en un mismo lugar encontrará espacios para todos los gustos, para que disfrute buenos momentos con familia y amigos.
        </p> -->
        <p style="font-size: 25px; text-align: center;">
            En Finca Bella Vista, encontrará el lugar ideal para el <b>Esparcimiento</b>, el <b>Bienestar</b> y la <b>Integración</b> con el <b>Medio Ambiente</b>.
        </p>
    </div>

    <hr>

    <div class="container page-top vistaEscritorio">

    
        <div class="container-contacto-titulo">
            <h2>Galeria</h2>
        </div>


        <div class="row">
  
  
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img1-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img1-galeria.jpg" class="zoom img-fluid "  alt="">
                   
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img2-galeria.jpg"  class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img2-galeria.jpg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img3-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img3-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img4-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img4-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img5-galeria.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img5-galeria.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img6-galeria.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img6-galeria.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img7-galeria.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img7-galeria.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../assets/img/galeria/img8-galeria.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img8-galeria.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
              <a href="../../assets/img/galeria/h-img1-galeria.jpg" class="fancybox" rel="ligthbox">
                  <img  src="../../assets/img/galeria/h-img1-galeria.jpg" class="zoom img-fluid "  alt="">
              </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../../assets/img/galeria/h-img2-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img2-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../../assets/img/galeria/h-img3-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img3-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../../assets/img/galeria/h-img4-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img4-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../../assets/img/galeria/h-img5-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img5-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
           
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="../../assets/img/galeria/h-img6-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img6-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
                <a href="../../assets/img/galeria/h-img7-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img7-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
                <a href="../../assets/img/galeria/h-img8-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/h-img8-galeria.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
       </div>
    </div>
  
    <!-- Page Content -->
    <div class="container   vistaMobile">
        <marquee class="marquee">
        <div class="row estilos-mobile">
  
            <div class="card-galeria-img">
                <a href="../assets/img/galeria/img1-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img1-galeria.jpg" class="zoom img-fluid img-galeria-mobile " id="style-mobile"  alt="">
                </a>
            </div>

            <div class="card-galeria-img">
                <a href="../assets/img/galeria/img2-galeria.jpg"  class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img2-galeria.jpg" class="zoom img-fluid img-galeria-mobile"  id="style-mobile" alt="">
                </a>
            </div>
            
            <div class="card-galeria-img">
                <a href="../assets/img/galeria/img3-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img3-galeria.jpg" class="zoom img-fluid img-galeria-mobile " id="style-mobile"  alt="">
                </a>
            </div>
            
            <div class="card-galeria-img">
                <a href="../assets/img/galeria/img4-galeria.jpg" class="fancybox" rel="ligthbox">
                    <img  src="../assets/img/galeria/img4-galeria.jpg" class="zoom img-fluid img-galeria-mobile " id="style-mobile"  alt="">
                </a>
            </div>
            
            <div class="card-galeria-img">
                <a href="../../assets/img/galeria/img5-galeria.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/img5-galeria.jpeg" class="zoom img-fluid img-galeria-mobile " id="style-mobile"  alt="">
                </a>
            </div>
            
            <div class="card-galeria-img">
                <a href="../../assets/img/galeria/img6-galeria.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="../../assets/img/galeria/img6-galeria.jpeg" class="zoom img-fluid img-galeria-mobile " id="style-mobile"  alt="">
                </a>
            </div>
            
            
       </div>     
       
    </marquee> 
  
    </div>
  